.login-form {
  width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}
.register-form-select,
.register-form-datepicker,
.login-form-button {
  width: 100%;
}
